.cardWrap{
    padding:32px 35px;
    box-sizing: border-box;
    height: 375px;
    width: 410px;
    position: relative;
    display: inline-block;
    margin:20px 15px;
}

@media screen and (max-width:900px){
    .cardWrap{
        margin:10px 0;
        padding: 25px 32px;
        height: 330px;
        width: 95% !important;
        max-width: none !important;
        min-width: 300px;
    }
}
@media screen and (max-width:900px) and (min-width:700px){
    .cardWrap{
        padding: 25px 32px;
        height: 330px;
        margin:10px;
        width: 45% !important;
        max-width: 370px !important;
    }
}